{% extends 'base.html.twig' %}

{% block title %}
	{{ course.name }}
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row ml-5 mt-3 mb-4">
			<div class="col-md-5">
				<img src="{{ course.image }}" alt="{{ course.name }}" class="img-fluid">
			</div>
			<div class="col-md-5">
				<h1 class="mt-4 mt-md-0">{{ course.name }}</h1>
				<b>Description:
				</b>
				<p style="text-align: justify;" >{{ course.description }}</p> 

				<b>Time Start:
				</b>
				<p style="text-align: justify;" >{{ course.timeStart|date("m/d/Y") }}</p> 

				<b>Time End:
				</b>
				<p style="text-align: justify;" >{{ course.timeEnd|date("m/d/Y") }}</p> 

                <div class="d-flex justify-content-between align-item-center mt-5">
                            <a href="#" class="btn btn-dark">View Courses</a>
                            <a href="#" class="btn btn-dark">View Students</a>
                            <a href="#" class="btn btn-dark">View Teachers</a>
                </div>
			</div>
		</div>
	</div>

{% endblock %}
