{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}
<h1>Hello StudentController!</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">List of Students</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students %}
                            <tr>

                                <td>{{ student.id }}</td>
                                <td>{{ student.name }}</td>
                                <td>{{ student.email }}</td>
                                <td>{{ student.phone }}</td>
                                
                                <td>
                                    {# <a href="{{ path('student_edit', { 'id': student.id }) }}" class="btn btn-primary">Edit</a>
                                    <a href="{{ path('student_delete', { 'id': student.id }) }}" class="btn btn-danger">Delete</a> #}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
