{% extends 'base.html.twig' %}

{% block body %}
	<div class="container col-md-6 mt-3">

		<h1 class="text-success text-center text-capitalize" style="font-size: 35px;">
			<b>Teacher Detail</b>
		</h1>
		<center><a class="btn btn-info mt-2" href="{{ path('teacher') }}" style="font-size: 25px;"> Teacher List</a></center>
		<center><table class="table table-striped text-center mt-2" style="width: 600px">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Birthday</th>
					<th>Feedback</th>
					<th>Menu</th>
				
				</tr>
			</thead>
			<tbody>
				<tr style="font-family: Segoe UI; font-size: 16px;">
					<td>{{ teacher.name }}</td>
					<td>{{ teacher.email }}</td>
					<td>{{ teacher.birthday|date('d/m/Y')}}</td>
					<td></td>
					<td class="">
						<a class="btn btn-warning" href="{{ path('edit_teacher', {'id': teacher.id}) }}">Edit</a>
						<a class="btn btn-danger" href="{{ path('delete_teacher', {'id': teacher.id}) }}" onclick="return confirm('Are you sure to delete this teacher ?')">Delete</a>
					</td>
				</tr>
		</tbody></center>
	</table>
</div>{% endblock %}
