{% extends 'base.html.twig' %}

{% block body %}
	<div class="container col-md-6 mt-3">

		<h1 class="text-success text-center text-capitalize" style="font-size: 35px;">
			<b>TEACHER LIST</b>
		</h1>

		<center><a class="btn btn-info text-center mt-2" href="{{ path('add_teacher') }}" style="font-size: 25px;">Add Teacher</a><center>

		<table class="table table-striped text-center mt-2" style="width: 600px">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Birthday</th>
					
					<th width="100%">Menu</th>
				</tr>
			</thead>
			<tbody>
				{% for t in Teachers %}
					<tr style="font-family: Segoe UI; font-size: 16px;">
						<td>{{ t.id }}</td>
						<td>{{ t.name }}</td>
						<td>
							{{t.birthDay| date('d/m/Y')}}
						</td>
						
						<td>
							<a class="btn btn-warning" href="{{ path('edit_teacher', {'id': t.id})}}">Edit</a>
							<a class="btn btn-danger" href="{{ path('delete_teacher', {'id': t.id})}}" onclick="return confirm('Are you sure to delete this student ?')">Delete</a>
						</td>
						
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
